*.class
*.jar
.calva
.clj-kondo/.cache
.cpcache
.hg/
.hgignore
.lein-*
.lsp
.nrepl-port
.prepl-port
/checkouts
/classes
/target
dbml-error.log
node_modules
pom.xml
pom.xml.asc
profiles.clj
scratch.clj
secrets
app_secrets.edn
.idea
